body {
  background: linear-gradient(90deg, antiqueWhite, white);
}

.app-badge {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 4px;
  margin: 1px;
}

.line-height {
  line-height: 2.5;
}